version: "3.8"
services:
  backend:
    volumes:
      - ./backend/PMS_APIs:/src
    command: ["dotnet", "watch", "run", "--urls", "http://0.0.0.0:5000"]
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - REACT_APP_API_URL=http://localhost:5000
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: ["npm", "start"]
    ports:
      - "3000:3000"
